<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Proyecto.by.danielxxomg</title>
    <link rel="stylesheet" href="../assets/styles/style.css"> <!-- Hoja de Estilos -->
    <link rel="shortcut icon" href="" type="image/x-icon"> <!-- FAVicon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Iconos -->
    <script src="https://cdn.tailwindcss.com"></script> <!-- Tailwind.CSS -->
</head>
<body>
    <header>
        <h1>
            Inicio <br> Proyecto Basa by.danielxxomg
        </h1>
    </header>
    <main>
        <div class="container">
            <p style="flex-grow: 1;">Texto 1</p>
            <p style="align-self: end; order: 1;">Texto 2</p>
            <p style="height: 100px;">Texto 3</p>
            <p style="flex-basis: 300px;">Texto 4</p>
            <p style="align-self: end;">Texto 5</p>
            <p>Texto 6</p>
        </div>
    </main>
</body>
</html>
