body {
    background-color: #faedcd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.menu {
    text-align: end;
    margin: 10px;
}
.menu a {
    text-decoration: none;
    color: #403d39;
    font-size: 1.2rem;
    padding: 10px 20px 10px 20px;
    border: 1px solid #403d39;
    background-color: #b56576;
    transition: 1s;
}
.menu a:hover {
    background-color: #e56b6f;
    color: #fefae0;
}
.container1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 30%;
}
h1 {
    transition: 1s;
}
h1:hover {
    font-size: 2.1rem;
    color: #e56b6f;
}
form {
    background-color: #fefae0;
    padding: 30px;
    align-items: center;
    text-align: center;
    width: 80%;
}
form label {
    transition: 1s;
}
form label:hover {
    color: rgb(213,55,145);
}
form input {
    width: 50%;
    padding: 5px;
    transition: 1s;
    align-items: center;
}
form input:hover {
    background-color: #f8f8f8;
    width: 45%;
    font-size: 13px;
    color: rgb(4,42,5);
    font-style: italic;
}
.genero {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 5% 0 5%;
}
#submit {
    background-color: #caf0f8;
}
#submit:hover {
    background-color: #90e0ef;
}