<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Proyecto.by.danielxxomg</title>
    <link rel="stylesheet" href="../assets/styles/style.css"> <!-- Hoja de Estilos -->
    <link rel="shortcut icon" href="" type="image/x-icon"> <!-- FAVicon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Iconos -->
    <script src="https://cdn.tailwindcss.com"></script> <!-- Tailwind.CSS -->
</head>
<body>
    <video autoplay loop muted>
        <source src="../assets/videos/youtube-krQt0SRuNxw(3).mp4" type="video/mp4">
    </video>
    <header>
        <!-- <div class="front">
            <img src="../assets/img/temp/descargar (1).jpg" alt="Logo">
            <p>Bienvenido a mi Pag</p>
        </div> -->
        <nav class="nave">
            <ul>
                <li><a href="#"><i class="material-icons home">home</i>Inicio</a></li> 
                <li><a href="#"><i class="material-icons contact">contacts_product</i>Contactos</a></li>
                <li><a href="#"><i class="material-icons info">info</i>Sobre</a></li>
                <li><a href="#"><i class="material-icons map">map</i>Mapa</a></li>
                <li><a href="#"><i class="material-icons comments">home</i>Comentarios</a></li>
            </ul>
        </nav>
        <h1>
            Inicio <br> Proyecto Base by.danielxxomg
        </h1>
    </header>
    <main>
        <div class="container">
            <p>Texto 1</p>
            <p>Texto 2</p>
            <p>Texto 3</p>
            <p>Texto 4</p>
            <p style="height: 100px;">Texto 5</p>
            <p>Texto 6</p>
        </div>
    </main>
</body>
</html>
