<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos | Proyecto.by.danielxxomg</title>
    <link rel="stylesheet" href="../assets/styles/style.css"> <!-- Hoja de Estilos -->
    <link rel="shortcut icon" href="" type="image/x-icon"> <!-- FAVicon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Iconos -->
    <script src="https://cdn.tailwindcss.com"></script> <!-- Tailwind.CSS -->
</head>
<body>
    <header>
        <h1>
            Contactos <br> Proyecto Base by.danielxxomg
        </h1>
    </header>
    <main>
        <div class="container">
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error facere a odit nobis! Consequuntur commodi eaque optio porro inventore omnis.
	</div>
    </main>
</body>
</html>
